# Set these in your cloud host's Environment/Variables screen.
PIPI_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD
PIPI_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
PIPI_HTTPS=1
PIPI_CLOUD=1
PIPI_DATA_DIR=/data
